<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Login/Registration</title>
</head>
<body>
    <div id="main-container">
        <div class="left-container">
            <h1>Register</h1>
            <form class="form-container" action="/register" method="post">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" value="{{session['first_name']}}">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" value="{{session['last_name']}}">
                <label for="email">Email:</label>
                <input type="text" name="email" value="{{session['email']}}">
                <label for="password">Password:</label>
                <input type="password" name="password">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" name="confirm-password">
                <input class="register-btn" type="submit" value="Register">
            </form>
        </div>
        <div class="right-container">
            <h1>Login</h1>
            <form class="form-container" action="/login" method="post">
                <label for="email">Email:</label>
                <input type="email" name="email">
                <label for="password">Password:</label>
                <input type="password" name="password">
                <input class="login-btn" type="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>