<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="add-container">
        <form class="form-container" action="/update/{{ninja.id}}/{{ninja.dojo_id}}" method="POST">
            <h1>Edit Ninja {{ninja.id}}</h1>
            <input type="hidden" name="dojo_id" value="{{ninja.dojo_id}}">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" value="{{ninja.first_name}}">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" value="{{ninja.last_name}}">
            <label for="age">Age:</label>
            <input type="int" name="age" value="{{ninja.age}}">
            <input type="submit" value="Update">
        </form>
        <a href="/">Back to Dojo</a>
    </div>
</body>
</html>