<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Edit User</title>
</head>
<body>
    <div class="add-container">
        <form class="form-container" action="/update/{{user.id}}" method="post">
            <h1>Edit User {{user.id}}</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <label for="first_name">First Name: </label>
            <input type="text" name="first_name">
            <label for="last_name">Last Name: </label>
            <input type="text" name="last_name">
            <label for="email">Email: </label>
            <input type="text" name="email">
            <input type="submit" value="Update">
        </form>
        <a href="/show/{{user.id}}">Show User</a>
        <a href="/">Home</a>
    </div>
</body>
</html>