* {
    margin: 0;
    padding: 0;
}
/* vvvvvv CSS for dojo page vvvvvvv */

#main-container {
    width: 80%;
    margin: 20px auto;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    border: 2px solid red;
    font-size: 20px;
}

.left-container {
    width: 30%;
    height: 500px;
    border: 2px solid yellowgreen;
}

.right-container {
    width: 30%;
    height: 500px;
    border: 2px solid lightblue;
    /* background-color: darkslategrey; */
}

.dojo-container {
    border: 2px solid lightgreen;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: darkslategrey;
}

/* ^^^^^^^ CSS for dojo page ^^^^^^^ */

/* vvvvvvvv CSS for create ninja page vvvvvvvv */

#ninja-create {
    width: 60%;
    height: 600px;
    background-color: black;
    color: white;
}

.ninja-label-input {
    width: 50%;
    display: flex;
    /* flex-direction: column; */
}

.form-select {
    width: 200px;
    border: 2px solid red;
}

.submit-btn {
    width: 100px;
    height: 30px;
    font-size: 20px;
    color: white;
    background-color: #07A5DB;
}

a {
    font-size: 30px;
    color: #07A5DB;
}